body{
  background-image:url("http://www.desktop-screens.com/data/out/34/2780908-donald-trump-wallpapers.jpg");
  background-size: cover;
  background-position: center; 
}
.container{
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}
#quote-box{
  background:rgba(255,255,255,0.75);
  border-radius: 10px;
  max-width:640px;
  margin: 0 20px;
}

#header{
  display: flex;
  justify-content: space-between;
  
}

#info{
  display:flex;
}

img{
  padding:1em;
  border-radius:50%;
}
p{
  margin:0;
}
#user-info{
  margin-top:2em;
}
#author{
  text-decoration: none;
  color:black;
  font-size:1.3rem;
}
#author:hover{
  text-decoration: underline;
  color:#1b95e0;
}
#new-quote-div{
  padding:1em;
}
#new-quote{
  margin:1.5em 1em;
  border: 1px solid #1b95e0;
  border-radius: 25px;
  color:#1b95e0;
  background-color: white;
  width:105px;
  height:36px;
}
#new-quote:hover{
  background-color:#e6ecf0;
}
#new-quote:focus {outline:0;}
#message-area{
  padding:0 2em;
  font-size: 27px;
  animation-duration: 3s;
}
#footer{ 
  padding: 1em 0;
  padding-left: 3.3em;
  display: flex;
  justify-content:center;
}
#tweet-quote{
  color:#000;
}
#tweet-quote:hover{
  color:#1b95e0;
}
